.JoinPage {
  background-color: rgb(29, 31, 31);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.JoinContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.JoinContainer > img {
  width: 6vmax;
  margin: 2vmax 0;
}

.JoinContainer > h1 {
  color: white;
  font-size: 3vmax;
  font-family: 'Roboto';
  width: 22vmax;
  border-bottom: 0.2vmax solid white;
  text-align: center;
  padding: 1vmax;
}

#joinInput {
  width: 22vmax;
  padding: 1.5vmax;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  margin: 2vmax;
  border-radius: 4px;
}

.joinbtn {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  color: white;
  font-family: 'Roboto';
  outline: none;
  font-size: 1.2vmax;
  background-color: #40b7ad;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
}

.joinbtn:hover {
  background-color: #3caaa1;
}
